@media (min-width: 0px) {
	h2 {font-size: 24px;}
}

@media (min-width: 768px) {
	h2 {font-size: 27px;}
	.preset {font-size: 7pt; padding: 3px 0px; margin: 2px 0;}
	.preset i {margin-left: -3px;}
}

@media (min-width: 992px) {
	h2 {font-size: 27px;}
	.preset {font-size: 10pt; padding: 3px 0px; margin: 2px 0;}
	.preset i {margin-left: -1px;}
}

@media (min-width: 1200px) {
	h2 {font-size: 30px;}
	.preset {font-size: 11pt; padding: 3px; margin: 4px 2px;}
	.preset i {margin-left: 4px;}
}

.well h2, .well h3 {margin-top: 0;}

header {
	text-align: center;
	background-color: #4963B4;
	color: white;
}

header .logo {
	padding: 0px 2px 0px 4px;
	background-color: white;
	position: relative;
	top: -8px;
	font-weight: bold;
	font-size: 38pt;
}

header .logo span {
	color: #4963B4;
	position: relative;
	bottom: -10px;
}

.preset {
	width:100%;
	text-align: center;
	color: white;
	margin: 4px 0;
}

.preset div {
	line-height: 0.9;
	width: 42%;
	margin: 0 0 0 1px;
	padding: 0;
	background-color: white;
	text-align: right;
}

.preset b {
	position: relative;
	font-family: Helvetica;
	margin: -2px 0px -2px 1px;
	bottom: -2px;
}

.preset i {
	position: relative;
	font-style: normal;
	font-weight: bold;
	bottom: -1px;
}

.preset.p0 {
	background-color: #4963B4;
}
.preset.p0 b {
	color: #4963B4;
}

.preset.p30 {
	background-color: #864fb4;
}
.preset.p30 b {
	color: #864fb4;
}

.preset.p60 {
	background-color: #a53da2;
}
.preset.p60 b {
	color: #a53da2;
}

.preset.p90 {
	background-color: #B4387F;
}
.preset.p90 b {
	color: #B4387F;
}

.preset.p120 {
	background-color: #B24238;
}
.preset.p120 b {
	color: #B24238;
}

.preset.p150 {
	background-color: #9F5500;
}
.preset.p150 b {
	color: #9F5500;
}

.preset.p180 {
	background-color: #7E6C00;
}
.preset.p180 b {
	color: #7E6C00;
}

.preset.p210 {
	background-color: #3B7C00;
}
.preset.p210 b {
	color: #3B7C00;
}

.preset.p240 {
	background-color: #008600;
}
.preset.p240 b {
	color: #008600;
}

.preset.p270 {
	background-color: #008649;
}
.preset.p270 b {
	color: #008649;
}

.preset.p300 {
	background-color: #008185;
}
.preset.p300 b {
	color: #008185;
}

.preset.p330 {
	background-color: #0076A5;
}
.preset.p330 b {
	color: #0076A5;
}

.support img {
	width: 90%;
}

.support .pass, 
.support .fail {
	display: inline-block;
	margin-left: 6.5%;
}
 
.support .pass {
	width: 11%;
	color: #008600;
}

.support .fail {
	color: red;
}